name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install GCC 14
      run: sudo apt update && sudo apt install -y g++-14

    - name: make test
      run: make CC=g++-14 test
