on:
  push:
    tags: [ "v*" ]


jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install GCC 14
        run: sudo apt update && sudo apt install -y g++-14

      - name: Build
        run: make CC=g++-14

      - name: Upload binary
        uses: softprops/action-gh-release@v2
        with:
          files: Pie
